LR_IROM1 0x08000000 0x00100000  {    ; Flash 1MB
  ER_IROM1 0x08000000 0x00100000  {  ; Code and RO data
   *.o (RESET, +First)
   *(InRoot$$Sections)
   .ANY (+RO)
   .ANY (+XO)
  }

  ;--- DTCM RAM: 128KB, ???????? ---
  RW_IRAM1 0x20000000 0x00020000  {
    .ANY (+RW +ZI)
  }

  ;--- AXI SRAM: 512KB, ?????? (Camera/AI buffer) ---
  RW_IRAM2 0x24000000 0x00080000  {
    *(.RAM_D1)   ; ??????? .RAM_D1 ???
  }
}
